// Place all the styles related to the Attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-cards table {
  background-color: white;
}
.main-cards th {
  border: solid thin;
}
.main-cards td {
  border: solid thin;
}
