.head {
  width: 100%;
  height: 100px;
  float: left;
  background-color: #1a0d00;
  color: white;
}
.head h1 {
  padding-left: 10px;
  float: left;
}
.head .account {
  float: right;
  margin-right: 20px;
}
.school-updates {
  float: left;
  margin: 5% 10% 5% 10%;
}
